entrypoint = "server.ts"
run = "npm run start"
modules = ["angular-node-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
author = 10394243

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run start"
